{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: rgb(37, 40, 34);
    }
</style>
{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <form method="post" class="col-md-8 mx-auto ">
            <div class="card" style="background-color:#f7f5f5d0 ;">
                <div class="card-body my-5">
                    <div class="card-title">
                        <h1 class="text-center" style="font-family: arial;">NEWS CATEGORY CLASSIFICATION</h1>
                    </div>
                </div>
                <div class="card-footer">
                    <fieldset>
                        <div class="mb-3" style="font-size: 20px;">
                            <label for="newsc" class="newsc">Put your News headlines here</label>
                            <textarea id="newsc" name="news" class="form-control" rows="10" placeholder="First news headline
second headline
third headline
etc" cols="60"></textarea>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="my-3">
                <button type="Predict" class="btn btn-primary btn-block">Predict</button>
            </div>
        </form>
    </div>
    <div class="row">
        {% if session.last_news and session.last_prediction %}
        <div class="col-md-8 mx-auto">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="card-title">
                        <h4 class="text-center text-white">Last news</h4>
                    </div>
                    <div class="card-text">
                        <h4 class="text-center text-white lead">{{session.last_news}} </h4>
                        <p class="text-center text-white">would belong to</p>
                        <h3 class="text-center text-white ">{{session.last_prediction}}</h3>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/dashboard" class="btn btn-block text-white">Full Results on Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}